body{
    font-family:sans-serif;
    text-align: center;
}

.title-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 150px;
    padding: 10px;
    font-size: 35px;
    width: 68%;
    line-height: 2.5;
    border: solid 3px  #3367d6;
    border-radius: 6px;
    background: #3367d6;
    color: #fff;
    text-align: center;
   }

.title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 12px;
    font-size: 20px;
    width: 80%;
    border: solid 3px  #3367d6;
    border-radius: 6px;
    background: #3367d6;
    color: #fff;
    text-align: center;
   }
    
   table {
    padding-top: 17px;
    text-align: center;
    margin: auto;
    max-width: 500px;
   }

   .table-label {
    width: 80px;
    line-height: 4;
   }


   .botton {
    text-align: center;
   }

   .button {
    text-align: center;
    max-width: 600px;
    width: 68%;
    height: 125px;
   }

   td {
    padding-top: 10px;
   }

   .explain {
    text-align: center;
    font-size: 20px;
    color: #6d9eeb; 
    font-weight: 700;
   }



   .sample a {
    text-align: center;
    display: inline-block; /* リンクをインラインブロック化して表示 */
    width: 12em; /* 横幅を15文字分にする(※値は自由に調節して下さい) */
    border-radius: 0.6em;        /* 枠線の角を丸くする(※値は自由に調節して下さい) */
    padding: 19px;   /* 内側の余白量を0.7文字分にする。この余白は「クリック可能な空白」になります。(※値は自由に調節して下さい) */
    margin: 10px; /* 外側の余白量 */
    background: #9dc5f6;
    text-decoration: none; /* リンクの下線を消す */
    line-height: 1.4; /* 行の高さを1.4倍にする(※値は自由に調節して下さい) */
    color: black;
    font-size: 20px;
    font-weight: bold;
 }
 /* ▼リンクの上にマウスが載った際の装飾(背景色だけ指定) */
 .sample a:hover { background-color: #2183fa; }

 .lookReport a {
    text-align: center;
    display: inline-block; /* リンクをインラインブロック化して表示 */
    width: 10em; /* 横幅を15文字分にする(※値は自由に調節して下さい) */
    border-radius: 0.6em;        /* 枠線の角を丸くする(※値は自由に調節して下さい) */
    padding: 19px;   /* 内側の余白量を0.7文字分にする。この余白は「クリック可能な空白」になります。(※値は自由に調節して下さい) */
    background: #9dc5f6;
    text-decoration: none; /* リンクの下線を消す */
    line-height: 1.2; /* 行の高さを1.4倍にする(※値は自由に調節して下さい) */
    color: black;
    font-size: 20px;
    font-weight: bold;
    }
  
    /* ▼リンクの上にマウスが載った際の装飾(背景色だけ指定) */
  .lookReport a:hover { background-color: #2183fa; }