body{
    font-family:sans-serif;
}

.title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: 20px;
    width: 80%;
    border: solid 3px  #3367d6;
    border-radius: 6px;
    background: #3367d6;
    color: #fff;
    text-align: center;
   }
    
   table {
    padding-top: 17px;
    text-align: center;
    margin: auto;
    margin-left: 5%;
    width: 90%;
   }

   .date {
    font-size: 19px;
    line-height: 1.3;
    color: #666;
    font-family: 'Roboto Condensed', sans-serif;
    width: 7.4em;
    text-align: left;
    vertical-align: top;
    padding-top: 10px;
   }

   .new {
    vertical-align: top;
    padding-top: 10px;
    font-size: 15.5px;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 3em;
    margin-left: 3px;
    padding: 2px 0 2px;
    background-color: #f30017;
   }

   .contents {
    padding-left: 15px;
    text-align: left;
    vertical-align: top;
    max-width: 100em;
    font-weight: bold;
    padding-top: 10px;
    font-size: 1.1rem;
   }

   td.explain {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: solid 1px black;
   }

   .a {
    background-color: rgb(98, 99, 99);
   }

   a.tohome {
    margin: 30px;
   }

   .transfer {
    margin: auto;
    width: 80%;
    line-height: 30px;
    word-break:break-all;
    letter-spacing: 2.5px;
   }
